

<nav>
        {{#if logged_in}}

        {{!-- adding info about which user is logged in --}}
          <a id="userEmail" href="/profile"><i class="fas fa-check-circle"></i> {{user.email}}</a>
          <a class="navbtn" href="/profile">My Profile</a>
          <a class="navbtn" href="/myhomes">My Homes</a>
          <a class="navbtn" href="/assets">Home Assets</a>
          <a class="navbtn" id="logout">Logout</a>
        {{else}}
          <a class="navbtn" href="/login">Login/Sign Up</a>
        {{/if}}
</nav>

{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}