

<nav>
    <ul class="navbar">

        {{#if logged_in}}
          <li><button><a href="/profile">My Profile</a></button></li>
          <li><button><a href="/myhomes">My Homes</a></button></li>
          <li><button><a href="/assets">Home Assets</a></button></li>
          <li><button id="logout">Logout</button></li>
        {{else}}
          <li><button><a href="/login">Login/Sign Up</a></button></li>
        {{/if}}

    </ul>
</nav>

{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}