<nav>
    <ul>
        <li class="col-sm-auto"><button><a href="#">Home</a></button></li>
        <li class="col-sm-auto"><button><a href="#">Login/Sign Up</a></button></li>
        <li class="col-sm-auto"><button><a href="#">My Homes</a></button></li>
    </ul>
</nav>