<nav>
    <ul class="navbar">
        <li><button><a href="./">Home</a></button></li>
       <!-- <li><button><a href="./login">Login/Sign Up</a></button></li> -->
        <li><button><a href="#">My Profile</a></button></li>
         <li><button><a href="/api/users/logout">Logout</a></button></li>
    </ul>
</nav>