<nav>
    <ul class="navbar">
        <li><button><a href="#">Home</a></button></li>
        <li><button><a href="#">Login/Sign Up</a></button></li>
        <li><button><a href="/login">Login/Sign Up</a></button></li>
        <li><button><a href="#">My Homes</a></button></li>
        <li><button><a href="/myhomes">Login/Sign Up</a></button></li>
        <li><button><a href="#">Home Assets</a> </button></li>
        <li><button><a href="/assets">Login/Sign Up</a></button></li>
    </ul>
</nav>