
<div class="homepage">
<h1>Welcome to Home Inventory DB</h1>

<h4 class="intro">
    Let us help you protect the valuables and belongings in your home to make the burden 
    of natural disasters and theft easier on you with Home Inventory DB.
    Home Inventory DB is a simple database for you to list all the assets in your home and their
    current condition that you want a record of so you may easily and accurately send reports to 
    your insurance companies 
</h4>

<button class= "login"><a href="/myhomes">Get Started!</a></button>
</div>
