header {
    height: 12vh;
    color:white;
    background-color: #8a00d4;
    justify-content: space-around;
    align-items: center;
}

body {
    min-height: 100vh;
    width:100%;
} 

#container {
    background-color: #e3e3e3;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-evenly;
}

.login {
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 12px;
    background-color: white;
    width: 11rem;
}

.login a {
    text-decoration: none;
    color: black;
}

.login a:hover {
    text-decoration: underline;
    color: #d527b7;
}

#logout:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #f782c2;
}

.intro {
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.navbtn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 0 0.5rem;
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 12px;
    background-color: white;
    width: 10rem;
}

.navbtn:hover {
    text-decoration: underline;
    color: #f782c2;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: #8a00d4;
    width: 100%;
    color: #e3e3e3;
}

.section {
    border-style: double;
    padding: 10px;
    margin: 15px;
}

.home {
  text-decoration: none;
  color: white;
}

.home:hover {
  text-decoration: none;
  color: white;
}

.row {
    margin: 6.5rem 0!important;
    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgb(69 67 96 / 10%);
}

#userEmail {
    text-decoration: none;
    color: white;
}

#userEmail:hover {  
    text-decoration: underline;
    color: #f782c2;
}