header {
    background-color: rgb(79, 47, 218, 0.5);
}

body {
    background-image: url("https://github.com/ljbrewer/HomeInventory/blob/main/assets/Hero-HomeInventory.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 

.homepage {
    padding-top: 100px
}

.login {
    margin-left: 40%;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
    background-color: white;
    width: 200px;
}

.intro {
    padding-bottom: 100px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
}

.footer{
    background-color: rgb(79, 47, 218, 0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: black;
}

.section {
    border-style: double;
    padding: 10px;
    margin: 15px;
}

.home {
  text-decoration: none;
  color: inherit;
}

.home:hover {
  text-decoration: none;
  color: inherit;

}

